*.class
*.log
target
.idea
project/project
project/target
*.iml
**/node_modules/
**/package-lock.json
keycloak-extensions/get-users-by-attributes/target
keycloak/extensions/*.deployed
keycloak/extensions/*.undeployed
keycloak/realms/hsperfdata_jboss